{% extends 'core/base.html' %}
{% load static %}
{% block content %}

    <head>


        <meta charset="UTF-8">
        <title>K-Store | E-Commerce Website</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
              rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>
<div class="small-container">
            <h2 class="title">Featured Products</h2>
            <div class="row">
                <div class="col-4">
                    <img src="{% static 'images/product-1.jpg' %}">
                    <h4>Red Printed T-Shirt</h4>
                    <p>$40.00</p>
                    <div class="rating">

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-empty"></i>
                    </div>

                </div>
                <div class="col-4">
                    <img src="{% static 'images/product-2.jpg' %}">
                    <h4>Sports Shoes</h4>
                    <p>$40.00</p>
                    <div class="rating">

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
                <div class="col-4">
                    <img src="{% static 'images/product-3.jpg' %}">
                    <h4>Grey Joggers</h4>
                    <p>$35.00</p>
                    <div class="rating">

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-empty"></i>
                    </div>
                </div>
                <div class="col-4">
                    <img src="{% static 'images/product-4.jpg' %}">
                    <h4>Puma T-Shirt</h4>
                    <p>$50.00</p>
                    <div class="rating">

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
            <h2 class="title">Latest Products</h2>
            <div class="row">
                <div class="col-4">
                    <img src="{% static 'images/product-5.jpg' %}">
                    <h4>Grey High-Tops</h4>
                    <p>$39.90</p>
                    <div class="rating">

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-empty"></i>
                        <i class="fa fa-star-o"></i>
                    </div>

                </div>
                <div class="col-4">
                    <img src="{% static 'images/product-6.jpg' %}">
                    <h4>Black Tee</h4>
                    <p>$30.00</p>
                    <div class="rating">

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
                <div class="col-4">
                    <img src="{% static 'images/product-7.jpg' %}">
                    <h4>Socks</h4>
                    <p>$15.00</p>
                    <div class="rating">

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <div class="col-4">
                    <img src="{% static 'images/product-8.jpg' %}">
                    <h4>Fossil Watch</h4>
                    <p>$349.00</p>
                    <div class="rating">

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}