{% extends 'core/base.html' %}
{% load static %}
{% block content %}

    <head>
        <meta charset="UTF-8">
        <title>K-Store | E-Commerce Website</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
              rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <div class="small-container">
        <h2 class="title">Items in your cart - {{ cart.count }}</h2>
        <div class="row">
            {% for item in cart %}
                <div class="col-4" id="{{ item.product.pk }}">
                    <img src="{% static item.product.image.url %}">
                    <h4>{{ item.product.name }}</h4>
                    <p style="font-size: 16px; font-weight: bolder">${{ item.product.price }}</p>
                    <a href="{% url 'remove from cart' product_pk=item.product.pk %}">

                    <p class="add-to-cart">Remove from cart</p>
                    </a>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-empty"></i>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}