{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About our team</title>
    <link rel="stylesheet" href="{% static 'about_us_css.css' %}">
</head>
<body>
 <div class="about-section">
  <h1>About Us Page</h1>
  <p>Find more information about the people that run this website.</p>
  <p style="font-weight: bolder">Any resemblance to real persons or other real-life entities is purely coincidental.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img style=" width: 602px; height: 402px" src="{% static 'images/creator1.webp' %}" alt="Jane">
      <div class="container">
        <h2>Not Satoshi Nakamoto</h2>
        <p class="title">CEO & Founder</p>
        <p>A legend.</p>
        <p style="font-weight: lighter;">satoshi@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'images/binance.webp' %}" alt="Mike"  style=" width: 602px; height: 402px">
      <div class="container">
        <h2>Not C. Zhao</h2>
        <p class="title">Opportunity Explorer</p>
        <p>Thinks about opening an Exchange platform.</p>
        <p style="font-weight: lighter">cz@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'images/vitalik.jpg' %}" alt="John" style=" width: 602px; height: 402px">
      <div class="container">
        <h2>Not Vitalik</h2>
        <p class="title">Ethereum Enthusiast</p>
        <p>OK with math.</p>
        <p style="font-weight: lighter">vitalik@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
{% endblock %}