{% load static %}
<div class="navbar">
    <div class="logo">
        <img src="{% static 'images/logo.png' %}" width="300" alt="">
    </div>
    <nav>
        <ul>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'index' %}">Products</a></li>
                <li><a href="{% url 'profile' pk=request.user.pk %}">Account</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}

                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'index' %}">Products</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            {% endif %}
        </ul>
    </nav>
    <img src="{% static 'images/cart.png' %}" width="30px" height="30px" alt="">
</div>

{% block content %}

{% endblock %}