{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block content %}
        <meta charset="UTF-8">
        <title>Account Settings UI Design</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" type="text/css"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        </head>
        <body>
        <section class="py-5 my-5">
            <div class="container">
                <h1 class="mb-5">Account Settings</h1>
                <div class="bg-white shadow rounded-lg d-block d-sm-flex">
                </div>
                <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="row">
                                {% for field in form %}
                                    {% if request.user == object.user %}
                                        {% if field %}
                                            {{ field.label }}
                                            {{ field.errors }}
                                            <label class="test-form-new">
                                                {{ field }}
                                            </label>
                                        {% else %}
                                            <label>
                                                <input type="text" class="form-control"
                                                       placeholder="{{ field.label }}">
                                            </label>
                                        {% endif %}
                                    {% else %}
                                        <fieldset disabled="disabled"
                                                  class="form-control"> {{ field.value }} </fieldset>
                                    {% endif %}
                                {% endfor %}
                                {% if request.user.pk == object.user.pk %}
                                    <input type="submit" class="btn btn-primary" value="Update">
                                    <a class="btn btn-light" href="{% url 'index' %}">Cancel</a>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% endblock %}
    </body>
</html>